<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zy.dao.UserDao">

    <select id="querylist" resultType="com.zy.entity.User">
        select * from user
    </select>
    <select id="findUserById" resultType="com.zy.entity.User">
        select * from user where id=#{id}
    </select>
    <select id="findInfoById" resultType="com.zy.entity.Info">
        select * from t_info where id=#{id}
    </select>
    <update id="updateUser">
        update user set name = #{item.name},password= #{item.password} where id= #{item.id}
    </update>
    <delete id="removeUser">
        delete from user where id = #{id}
    </delete>
</mapper>